*.p
*.so
*.dll
*.exe
*.mid
*.wav
*.json
*.py[cod]

*~
\#*\#
.idea
.coverage
__pycache__

htmlcov
report.html
algorithm/*_unittest.py

dist
build
ffmpeg
models
oscillo
analysis
predictions
node_modules

bards_way
note_recognition

mt.model
pretrained_models


!package.json
!credentials.json
!*serviceAccount.json
